body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

header {
    background-color: #333;
    color: white;
    padding: 10px;
    text-align: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 10px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

main {
    margin: 15px;
}

section {
    background-color: #fff;
    padding: 15px;
    margin-bottom: 15px;
    border-radius: 5px;
    border: 3px solid #F00;
    animation: colorchange 2s infinite;
}

#jos{
    width: 225px;
    height: 225px;
}

@keyframes colorchange {
    0% {
        border-color: red;
    }

    25% {
        border-color: yellow;
    }

    50% {
        border-color: blue;
    }

    100% {
        border-color: green;
    }
}

h1 {
    color: #ff0000;
}
#form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

h2,
h3 {
    color: #333;
}

ul {
    list-style-type: none;
}

li {
    margin-bottom: 10px;
}

.product img {
    width: 100%;
    height: auto;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    bottom: 0;
    width: 100%;
}

#team-members li {
    margin-bottom: 10px;
}

#contact-form {
    display: flex;
    flex-direction: column;
}

#contact-form label {
    margin-top: 10px;
}

#contact-form input[type="text"],
#contact-form textarea {
    width: 100%;
    padding: 5px;
}

#contact-form input[type="submit"] {
    margin-top: 10px;
    padding: 5px;
}