header{
    background-color: black;
    
    width: 100%;
    height: 100px;
    justify-content: center;
    align-items: center;
}
header a button{
    color: white;
    background-color: brown;
    
}